<%- include('partials/header') -%>

<body class="bg">
<header>
  <div class="flex">
    <img src="	https://multia.in/theme/wordpress/mievent/wp-content/themes/mievent/site/img/logo.png" alt="">
    <div class="nav-home flex">
      <a class="font-20 red-l italic" href="/events/new"> Create Event</a>
      <a class="font-20 red-l italic" href="">Contact Me</a>
    </div>
  </div>
</header>   
  <div class="">
    <div class="container text-align flex-2 flex">
      <img src="	https://multia.in/theme/wordpress/mievent/wp-content/themes/mievent/site/img/logo.png" alt="">
      <h1 class="red-l font-40 margin-30 letter ">ALL EVENT SUPER HAPPY FUN TIME!!</h1>
      <hr>
      <p class="red-l font-20 margin-30 letter">MIEVENT IS PERFECTLY DESIGNED FOR EVENTS, CONFERENCES, CONCERTS & FESTIVALS.</p>
      <a class="btn f-weight bg-aqua" href="/events">All Event</a>
    </div>
  </div>

</body>

<%- include('partials/footer') -%>